<article>
  <app-nav-chat></app-nav-chat>

  
  <!--TODO CHATS -->
  <div class="chats">
    <main>
      <div class="chat" *ngFor="let chat of chats; let i =index" [id]="chat.key">
        @if(ems.editMode().active){ 
          <div (click)="ems.handleClick(chat.key!)">
            <img src="{{chat.imageUrl}}">
            <b>{{chat.titleChat}}</b> 
          </div>
          
        }@else{
          <div>
            <img [src]="chat.imageUrl" [alt]="chat.titleChat">
            <a routerLink="/chat/{{chat.key}}">{{chat.titleChat}}</a>
            <button (click)="ems.handleClick(chat.key!)" class="btn btn-outline-light"> <mat-icon>settings</mat-icon> </button>
          </div>
        }
      </div>
    </main>
  </div>


  <!--TODO NUOVO GRUPPO -->
  <form #groupForm="ngForm" (submit)="newGroup(groupForm)">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Nuovo gruppo" 
        aria-label="Example text with button addon" aria-describedby="button-addon1"
        [readOnly]="ems.editMode().active"
        name="input" ngModel required>
      <button class="btn btn-outline-light" type="submit" [disabled]="groupForm.invalid">
        <mat-icon class="newGroup">add</mat-icon>
      </button>
    </div>
  </form>
</article>