<article>
  <div>
    <!--TODO navigazione -->
    <app-nav-chat
      [editMode]="editMode"
      [resetEdit]="resetEdit"
      [onDeleteGroup]="onDeleteGroup"
    ></app-nav-chat>

    <!--TODO navigazione -->
    <form
      #groupForm="ngForm" 
      (submit)="newGroup(groupForm)" 
      *ngIf="!editMode().active"
    >
      <div>
        <input
          type="text" 
          name="input"
          placeholder="Nuovo gruppo" 
          ngModel required
        >
        <button type="submit" [disabled]="groupForm.invalid">
          <mat-icon class="newGroup">add</mat-icon>
        </button>
      </div>
    </form>

    <!--TODO navigazione -->
    <div class="chats">
      <div class="box">
        <div class="chat" *ngFor="let chat of chats; let i =index">
        @if(editMode().active){ 
          <img src="{{chat.imageUrl}}" (click)="handleClick(chat.key!, $event)">
          <b (click)="handleClick(chat.key!, $event)">{{chat.titleChat}}</b> 
          
        } @else{
          <img src="{{chat.imageUrl}}" alt="">
          <a routerLink="/Chat/{{chat.key}}">{{chat.titleChat}}</a>
          <mat-icon class="handleClick" (click)="handleClick(chat.key!, $event)">settings</mat-icon>
        }
        </div>
      </div>
    </div>

  </div>
</article>