@import url(../../../../customFloatingLabel.css);

main{
  margin-bottom: 80px;
}

form{
  padding: 10px;

  width: 100vw;
  position: fixed;
  bottom: 0;

  background: var(--c3);
  display: grid;
  justify-content: center;
  box-shadow: 0 0 10px black;
}
  form div .form-floating,
  form [type="submit"]{
    background: var(--c3);
  }

/* 
form
  .input-group
    .form-floating
      input
      label
    submit
*/