/* input numerici delle abilità devono avere '+' */
#abilita>form{
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}
#abilita>main{
  display: grid;
  grid-template-columns: 60px auto;
  align-items: stretch;
  gap: 5px;

  padding-top: 10px;
  border-top: 1px solid;
}
  #abilita>main>div{
    width: max-content;
    display: grid;
    justify-items: start;
    justify-content: center;
    gap: 5px;
  }
  #abilita>main textarea{
    font-size: small;
    font-weight: bold;
  }


/* BONUS +2 */
.bonusInput{
  position: relative;
}
  .bonusInput::before{
    content: '+';
    position: absolute;
    top: 6px;
    left: 10px;
    pointer-events: none;
  }
  .bonusInput>input{
    width: 60px !important;
    padding-left: 20px;
  }
