/* input numerici delle abilità devono avere '+' */
.bonusInput{
  padding: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
}
  .bonusInput>input{
    padding: 0;
    border: 0;
    box-shadow: none;
  }
