#equipaggiamento>form, #equipaggiamento>main{
  display: grid;
  grid-template-columns: auto 60px auto;
  gap: 5px;
  align-items: center;
}
#equipaggiamento>form{
  margin-bottom: 10px;
}
#equipaggiamento>main{
  padding-top: 10px;
  border-top: 1px solid;
}