/* PUNTEGGI CARATTERISTICA */
#punteggi_caratteristica{
  margin: auto;
  max-width: 250px;

  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
  .punteggio_caratteristica{
    margin-top: 10px;
    position: relative;
  }
  .punteggio_caratteristica>label{
    margin: 0 5px;
    padding: 0 5px;
    max-width: 60px;
    position: absolute;
    transform: translateY(-12px);
    overflow-x: hidden;
    text-overflow: ellipsis;
    background: var(--c1);
  }
  .punteggio_caratteristica>select{
    padding-top: 15px;
    border-width: 2px;
  }
