<article>
    <header>
        <h1>Lista della spesa</h1>
        <form #formdata="ngForm" (ngSubmit)="submit(formdata)">
            <input type="text" name="title" id="title" required ngModel>
            <button type="submit" [disabled]="formdata.invalid">Invio</button>
        </form>
    </header>
    <div class="line"></div>

    <table>
        <tbody>
            <tr *ngFor="let todo of todos; let i =index">
                <td><input (change)="patch($event, todo)" type="checkbox" id="complete" [checked]="todo.complete"></td>
                <td><input (change)="patch($event, todo)" type="text" id="title" [placeholder]="todo.title"></td>
                <td><button (click)="delete(i)">❌</button></td>
            </tr>
        </tbody>
    </table>
</article>
