<app-navbar></app-navbar> 
<article>
  <div class="signal">
    <h1>{{ signalString() }}</h1>
    <div>
        <input type="text" (change)="setSignal($event)" placeholder="setSignal">
    </div>
    <div>
        <input type="text" (change)="updateSignal($event)" placeholder="updateSignal">
    </div>
    <button 
      *ngIf="!computedSignal()" 
      (click)="setSignal($event, 'Signal')"
      >Reset</button>
      
    <h3>Persone</h3>
    <input type="text" (change)="addPerson($event)" placeholder="Nome">
      <p *ngFor="let person of signalPeople()">
        <button (click)="deletePerson(person)">❌</button>
        <input type="checkbox" [checked]="person.online">
        {{person.id}}: 
        {{person.name}} 
      </p>

      
      <div>
        <input type="checkbox" id="mode">
        <label for="iii">Mode</label>
        <select name="" id="">
          <option value="light">ligth</option>
          <option value="dark">dark</option>
        </select>
      </div>
  </div>
</article>