article{
    padding: 20px 0;
    background: url(https://img.freepik.com/foto-gratuito/bellissima-spiaggia-alba-sotto-un-cielo-blu_181624-26939.jpg?t=st=1720948328~exp=1720951928~hmac=aa22e38d37b32c468ba3ef37209630fa59859774891efaab5606bf9ab82c2f02&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
}
article:has(option[value="dark"]:checked),
article:has(input#mode:checked){
    background: var(--c1);
}

.signal{
    width: clamp(300px, 80vw, 1000px);
    margin: 10px auto;
    padding: 10px;
    border: 3px solid var(--st);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}
.signal:hover{
    box-shadow: 12px 12px 12px black , 10px 10px 10px var(--st) inset;

}

