#userform>div{
    padding: 10px;
    width: clamp(250px, auto, 300px);
    margin: 20px auto;

    display: flex;
    flex-flow: column;
    gap: 5px;

    background: var(--c2);
    box-shadow: 0 0 20px black;
    border-radius: 10px;
}


.chats{
    padding: 10px;
}
.chat{
    padding: 5px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    cursor: pointer;
    border-bottom: 1px solid var(--c1);
}
.chat:last-child{border: 0;}
    .chat img{
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    .deleteGroup::before{
        width: 40px;
        height: 40px;

        color: var(--c4);
        cursor: pointer;
    }
    a{
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--c5);
    }


.inputBox{
    width: 100%;
    padding: 5px;
    position: fixed;
    bottom: 0;
}
    .inputBox>div{
        max-width: 300px;
        margin: auto;

        display: flex;
        gap: 5px;

    }
    .inputBox>div>*{
        background: var(--c3);
        color: var(--c1);
        border: 0;
    }
    .inputBox button[type="submit"]{
        border-radius: 50px;
    }


@media only screen and (min-width:500px) {
.chat{
    border: 1px solid var(--c2) !important;
    border-radius: 10px;
}
.flexbox{
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}
.inputBox{
    padding: 0 10px;
    position: static;
    background: var(--c3);
}
    .inputBox>div{
        border: 1px solid var(--c1);
        border-radius: 10px;
        overflow: hidden;
    }
}