.chats{
    padding: 10px;
}
.chat{
    padding: 10px 0;
    display: grid;
    grid-template-columns: auto 4fr;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    border-bottom: 1px solid var(--c2);
}
.chat:last-child{border: 0;}
.chat button{
    padding: 2px;
}
a:hover{
    color: var(--c1);
}


.tools{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 2px 0;

    display: flex;
    justify-content: center;

    background: var(--c2);
    box-shadow: 0 0 20px black;
}
@media only screen and (min-width:1000px){
.chat{
    padding: 10px;
    border: 1px solid var(--c2) !important;
    border-radius: 10px;
}
.flexbox{
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}
.tools{
    padding: 0 20px;
    position: relative;
    justify-content: flex-start;

    box-shadow: none;
    background: var(--c3);
}
}