.inputBox{
    width: 100%;
    padding: 5px;
    position: fixed;
    bottom: 0;
    background: var(--c1);
}
    .inputBox>div{
        max-width: 300px;
        margin: auto;

        overflow: hidden;
        display: flex;

        background: var(--c3);
        border-radius: 50px;
    }
    .inputBox>div:has(input:focus){
        background: var(--c5);
    }
    .inputBox input{
        padding: 10px 20px;
        background: transparent;
        color: var(--c1);
        border: 0;
    }
    .inputBox button[type="submit"]{
        border-radius: 50px;
    }
    .inputBox button[type="submit"]:valid{
        background: var(--c1);
        color: var(--c5);
    }


@media only screen and (min-width:500px) {
.inputBox{
    padding: 0 10px;
    position: static;
}
    .inputBox>div{
        border: 1px solid var(--c1);
        border-radius: 50px;
        overflow: hidden;
    }
}