<app-nav-chat [active]="active" [idGroups]="idGroups"></app-nav-chat>
<article>
  <div>
    <form 
      #groupForm="ngForm" 
      (submit)="newGroup(groupForm)" 
      class="inputBox"
      *ngIf="!active()"
    >
      <div>
        <input 
          type="text" 
          name="input"
          placeholder="Nuovo gruppo" 
          ngModel required
        >
        <button type="submit" [disabled]="groupForm.invalid">
          <mat-icon class="newGroup"
            fontIcon="add"
          ></mat-icon>
        </button>
      </div>
    </form>
      
    <header class="chats">
      <div class="flexbox">
        <div class="chat" *ngFor="let chat of chats; let i =index">
        @if(active()){ 
          <img src="{{chat.imageUrl}}" (click)="editFunction(chat.idFirebase!, $event, i)">
          <b (click)="editFunction(chat.idFirebase!, $event, i)">{{chat.titleChat}}</b> 
          
        } @else{
          <img src="{{chat.imageUrl}}" alt="">
          <a routerLink="{{chat.idFirebase}}">{{chat.titleChat}}</a>
          <mat-icon class="editFunction" (click)="editFunction(chat.idFirebase!, $event, i)">settings</mat-icon>
        }
        </div>
      </div>
    </header>
  </div>
</article>