.chat{
    padding: 10px;
    min-width: 150px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: stretch;
    justify-content: space-between;

    cursor: pointer;
    border-bottom: 1px solid var(--c1);
}
.box{
    display: block;
}
.selected{ background: var(--c2); }
.chat:last-child{border: 0;}
    .chat img{
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    .chat>*:nth-child(2){
        padding: 10px;

        display: flex;
        align-items: center;

        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--c5);
    }
    .handleClick{
        margin: auto;
    }
    
/* computer */
@media only screen and (min-width:500px) {
article>div{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}
.chat{
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
}
.box{
    height: 60vh;
    padding: 10px;

    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    align-content: start;

    overflow-y: scroll;
}
}