header{
  padding: 20px 0;
}

main{
  padding: 20px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 10px;
}
  .card img{
    object-fit: cover;
    width: 250px;
    height: 200px;
  }
  .card-img-overlay{
    background: linear-gradient(3deg, black, #80808080);
    display: flex;
    flex-flow: column;
    justify-content: end;
  }
    .card-img-overlay >div{
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
    }

footer{
  min-height: 100px;
}