article>div{
  max-width: max-content;
  margin: auto;
}
button{
  padding: 5px;
  display: grid;
  align-items: center;
}


header{
  display: flex;
}
main{
  padding: 10px;
  min-height: 100px;

  background: var(--st);
  border: 1px solid;
  border-radius: 5px;
}
  .grid{
    padding: 10px 0;
    max-width: max-content;

    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
  }
  .childs{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
