.dashboard{
    padding: 10px;
}
.container{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}


.row{
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    line-height: 30px;
}
.listIndex{
    width: 20px;
    margin-right: 20px;
}
.content{
    /* display: flex;
    flex-flow: wrap;
    gap: 10px; */
}
