nav{
    position: fixed;
    width: 100vw;
    top: 0; 
    z-index: 10;
    padding: 0px 20px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    background:linear-gradient(2deg, var(--c3), var(--c3), var(--c2));
    color: var(--c1);
}

    nav>*{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
        #logo{
            padding: 0;
            font-weight: bold;
            font-size: 30px;
            color: var(--c4);
        }        
        a, button{
            padding:10px;

            display: flex;
            justify-content: center;
            align-items: center;
            
            background: transparent;
            border: 0;
            color: var(--c5);
        }
        button:hover, a:hover{
            background: var(--st);
            background: var(--st);
        }

        summary{
            padding: 10px;
            cursor: pointer;
            color: var(--c5);
        }
        .dropContent{
            width: 100%;
            left: 0;
            position: absolute; 
            background: linear-gradient(3deg, var(--st), var(--c3), var(--c3));
        }

@media only screen and (min-width: 400px){
.dropdown>div{
    width: min-content;
    left: auto;
}
}