<nav>
    <a routerLink="/home" id="logo">
        <img 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" 
            alt="" 
            height="50px" 
        />
    </a>
    
    <div>
        <button (click)="dropdown =!dropdown">Articoli</button>
        
        @if(dropdown){
            <div class="dropdown" (click)="dropdown =false">
                <a routerLink="/chi-siamo">Chi siamo</a>
                <a routerLink="/dashboard">Dashboard</a>
                <a routerLink="/products">Products</a>
                <a routerLink="/shops">Shops</a>
            </div>
        }

        @if(logged){
            <a routerLink="/login">Login</a>
        } @else {
            <a routerLink="/login">Logout</a>
        }
    </div>

</nav>
