<nav>
  <a routerLink="/home" id="logo">
    <img 
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" 
      alt="" 
      height="50px" 
    />
    <p>{{ title }}</p>
  </a>
    
  <div>
    <details>
      <summary> Articoli </summary> 

      <div class="dropdown" >
        @for (page of routerClone; track $index) {
          @if (page.path!='') {
            <a [routerLink]="page.path">{{ page.path }}</a>
          }
        }
      </div>
    </details>
  </div>
</nav>