nav{
    position: fixed;
    width: 100vw;
    top: 0; 
    z-index: 10;
    padding: 0px 20px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    background:linear-gradient(2deg, var(--c3), var(--c3), var(--c2));
    color: var(--c1);
}

    nav>*{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
        #logo{
            padding: 0;
            font-weight: bold;
            font-size: 30px;
            color: var(--c4);
            cursor: pointer;
        }        