<nav>
  <a routerLink="/Home" id="logo">
    <img 
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" 
      alt="logo" 
      height="50px" 
    />
  </a>
    
  <div>
    <details class="dropdown">
      <summary class="dropdown"> Articoli </summary> 

      <div class="dropContent">@for(page of routerClone; track page){
        <a *ngIf="page.show" routerLink="/{{page.path}}">{{ page.path }}</a>
      }</div>
    </details>
  </div>
</nav>