nav{
    position: sticky; top: 0;
    padding:1px 20px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    background:linear-gradient(30deg, var(--c3), var(--c3), var(--c2));
    color: var(--c1);
}

    nav>*{
        display: flex;
        gap: 10px;
    }
        #logo{
            font-weight: bold;
            font-size: 3vh;
        }        
        a{
            padding: 10px;
            font-size: 2vh;
            color: var(--c5);
            text-decoration: none;
        }
