<nav class="editMode navChat" *ngIf="editMode().active; else default">
  <div>
    <mat-icon (click)="resetEdit()" class="icon">arrow_back</mat-icon>
    <span>{{ editMode().idGroups.length }}</span>
  </div>
  <div>
    <!-- <mat-icon>edit</mat-icon> -->
    <mat-icon class="icon deleteGroup" (click)="onDeleteGroup()">delete</mat-icon>
  </div>
</nav>

<ng-template #default>
<nav class="navChat">
  <a routerLink="/chat" class="logo">
    Fan<span>cool</span>own
  </a>

  <div>
    <app-dropdown></app-dropdown>
    <app-profile></app-profile>
  </div>
</nav>
</ng-template>