.editMode{
  position: sticky;
  top: 0;

  padding: 10px;
  display: flex;
  justify-content: space-between;
  
  background: var(--c3);
  color: var(--c5);
  box-shadow: 0 0 20px black;
}
  .editMode>div{
    display: flex;
  }
    .editMode>div>*{
      padding: 5px;
      background: transparent;
      color: white;
    }
