    /* TODO BRAND */
.brand{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 20px black;
}
.brand img{
    object-fit: cover;
    height: 200px;
    width: 250px;
}
.brand>div{
    width: 300px;
}
.brand h1{
    position: sticky;
    top: 0;
}


    /* TODO CARD */
.slider{
    padding: 50px 10px;
    width: 100%;
}

@media only screen and (min-width:600px){
.slider{
    overflow: auto;
    flex-flow: wrap;
    justify-content: space-around;
}
}
