<article>
  <app-navbar></app-navbar>
  <div>
    <h1>Calcolatrice</h1>
    <main>

        <input 
          class="form-control"
          type="number" 
          placeholder="num1" 
          id="num1$" 
          [value]="num1$ | async" 
          (change)="onChange($event)"
        >
        <select 
          class="form-select text-bg-dark" 
          id="operator$" 
          [value]="operator$ | async" 
          (change)="onChange($event)"
        > <option selected style="display: none;">Operatore</option>
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>

        <input 
          class="form-control"
          type="number" 
          placeholder="num2" 
          id="num2$" 
          [value]="num2$ | async" 
          (change)="onChange($event)"
        >
    </main>
    <div>Risultato: {{ result$ | async }}</div>

  </div>
  <!-- <div *ngIf="data$ |async as data">
    <h3>Users</h3>
    <div *ngFor="let user of data.filtered">{{ user.name }}</div>
  </div> -->
</article>
