article>div{
  margin: 30px auto;
  padding: 10px;
  min-width: 200px;
  width: min-content;

  border: 2px solid;
  border-radius: 5px;
}
h1{
  margin-bottom: -30px;
  padding: 5px;
  width: max-content;
  transform: translateY(-35px);
  background: var(--c1);
}
main{
  display: grid;
  grid-template-columns: 2fr 1fr ;
  gap: 10px;
}