nav{
    height: 50px;
    width: 100vw;
    padding: 5px 10px;
    top: 0;

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    background: var(--c3);
}
    nav>div{
        display: flex;
        gap: 15px;
        align-content: center;
    }
    .logo{
        color: var(--c5);
        font-weight: bold;
    }

nav.editMode{
    background: var(--c2);
}
    .logo>span{
        color: var(--c4);
    }
    .editMode mat-icon:hover{ 
        cursor: pointer; 
        background: var(--c3);
        border-radius: 50px;
    }

@media only screen and (min-width:500px) {
nav{
    width: 100%;
    position: relative;
    justify-content: flex-start;
}
}