.navChat{
    justify-content: space-between;
}
.logo{
    color: var(--c5);
    font-weight: bold;
    gap: 0;
}
.logo>span{
    color: var(--c4);
}

.editMode{
    background: var(--c2);
    color: var(--c5);
    box-shadow: 0 0 20px black;
}

/* da computer */
@media only screen and (min-width:500px) {
    .navChat{ 
        width: 100% ;
        position: static ;
    }
}