@if (ems.editMode().active){
  <nav class="navChat">
    <div>
      <button class="btn" (click)="ems.resetEdit()">
        <i class="icon" class="bi bi-arrow-left"></i>
      </button>
      <b>{{ ems.editMode().idGroups.length }}</b>
    </div>

    <div>
      <button class="btn" (click)="ems.onRenameGroup()" *ngIf="ems.editMode().idGroups.length===1">
        <i class="icon deleteGroup" class="bi bi-pencil-square"></i>
      </button>
      <button class="btn" (click)="ems.onDeleteGroup()">
        <i class="icon deleteGroup" class="bi bi-trash3-fill"></i>
      </button>
    </div>
  </nav>

}@else {
  <app-navbar></app-navbar>
}