<header>
  <select [value]="P.category" (change)="setPages($event)">
    <option value="Stanzino">Stanzino</option>
    <option value="Congelatore_fuori">Congelatore fuori</option>
    <option value="Congelatore_dentro">Congelatore dentro</option>
  </select>
</header>

<article>
  <div>
    <main>
      @if (P.foods()[P.category] && P.foods()[P.category].length){
        <div *ngFor="let item of P.foods()[P.category]; let i=index">
          <button (click)="P.deleteFood(i)"><mat-icon>delete</mat-icon></button>
          <input type="number" [value]="item.amount" name="amount" (change)="onChange(i, $event)" >
          <input type="text" [value]="item.title" name="title" (change)="onChange(i, $event)" >
        </div>
      }@else{ <p>{{P.category}} vuoto</p> }
    </main>
  </div>
</article>

<nav>
  <form #adder="ngForm" (ngSubmit)="onSubmit(adder)">
    <input type="number" placeholder="Quantità" name="amount" ngModel>
    <input type="text" placeholder="Titolo" name="fTitle" ngModel required>
    <button type="submit"><mat-icon>add</mat-icon></button>
  </form>
</nav>