<article>
  <app-navbar></app-navbar>
  <div>
    <h1 style="text-align: center;">Accedi</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      @for (item of template; track item; let i=$index){
        <div class="form-floating">
          <input 
            class="form-control" 
            [type]="item.type" 
            [id]="item.key" 
            placeholder=""
            [formControlName]="item.key"
          > <label [for]="item.key">{{ item.title }}</label>
        </div>
      }
      <p>Non hai ancora un profilo? <a routerLink="/login">Login</a></p>
      <div> <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Invio</button> </div>
    
    </form>
  </div>
</article>