<article>
  <app-navbar></app-navbar>
  <div>
    <h1 style="text-align: center;">Iscriviti</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      @for (item of template; track item; let i=$index){
        <div class="form-floating">
          <input 
            class="form-control" 
            [type]="item.type" 
            [id]="item.key" 
            [placeholder]="item.title"
            [formControlName]="item.key"
          > <label [for]="item.key">{{ item.title }}</label>
        </div>
      }
      <p>Hai già un profilo? <a routerLink="/access">Accedi</a></p>
      <div> <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Invio</button> </div>
    
    </form>
  </div>
</article>