@import url(../../../customFloatingLabel.css);

article{
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}
  article>div{
    min-width: 300px;
    max-width: min-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
  }
  
form{
  display: grid;
  gap: 10px;
}

