article>div{
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 20px black;
}
form{
    display: grid;
}
h2{ text-align: center; }
.error{ color: red; }
button{
    padding: 5px 10px;
    color: var(--c3);
}
