@import url(../../../customFloatingLabel.css);

article{
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}
  article>div{
    min-width: 300px;
    max-width: min-content;
    margin: auto;
    padding: 10px;

    border-radius: 10px;
  }
  
form{
  display: grid;
  gap: 10px;
}
  .form-floating{
    background: var(--c1);
  }


/* VALIDAZIONE */
input.ng-invalid.ng-touched, 
select.ng-invalid.ng-touched{
  border-color: red ;
  color: red;
}
.form-floating ~i,
select ~i,
select.ng-invalid.ng-touched,
input.ng-invalid.ng-touched ~label{
  color: red !important;
  font-style: italic;
}