<div class="card">
    <aside>{{ product.price }}€</aside>

    <img [src]="product.images[0]" alt="">

    <section>
      <div class="text">
        <h5>{{ product.title }}</h5>
        <p class="description">{{ product.description }}</p>
      </div>
      <div class="amount">
        <button class="btn btn-secondary"  (click)="increment()" class="operation">+</button>
        <button class="btn btn-secondary"  class="operation">{{ amount() }}</button>
        <button class="btn btn-secondary"  (click)="decrement()" class="operation">-</button>
        <button class="btn btn-secondary"  (click)="addToCart()" class="cart">Cart</button>
      </div>
    </section>

</div>
