<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
      <img alt="logo" height="40px" src="assets/angular_logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <app-profile></app-profile>

    <!-- COLLAPSE -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <app-dropdown></app-dropdown>

      </ul>
    </div>

  </div>
</nav>