main{
    padding: 10px;
    min-height: 100px;

    background: var(--st);
    border: 1px solid;
    border-radius: 5px;
}
.childs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.box{
    padding: 10px 0;
    display: grid;
    grid-template-columns: auto auto 1fr;
}

input{
    margin-bottom: 5px;
    
    color: var(--c5);
    border: 1px solid;
    background: transparent;
}