<app-navbar></app-navbar>
<article>
  <div>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <h1>Iscriviti</h1>
      <input type="text" name="username" placeholder="Username" ngModel required>
      <input type="email" name="email" placeholder="Email" ngModel required email>
      <input type="password" name="password" placeholder="Password" ngModel required>    
      <p>Hai già un profilo? <a routerLink="/Access">Accedi</a></p>
      <div> <button type="submit" [disabled]="form.invalid">Invio</button> </div>
    </form>
  </div>
</article>