<app-navbar></app-navbar>
<article>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <h1>Login</h1>

    <div class="flexbox">
      <input type="text" name="username" placeholder="Username" ngModel required>
      <input type="email" name="email" placeholder="Email" ngModel required>
      <select name="role" ngModel required>
        <option value="" disabled selected>Ruolo</option>
        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
      </select>
      <input type="file" name="imageUrl" ngModel>
    </div>

    <button type="submit" [disabled]="form.invalid">Invio</button>
  </form>
</article>