<article *ngIf="chat">
  <!-- NAVIGAZIONE -->
  <modal-chatModals [chat]="chat"></modal-chatModals>
  <nav class="navChat">
    <div>
      <a routerLink="../" (click)="ci()"> <i class="bi bi-arrow-left"></i> </a>
      <img [src]="chat.imageUrl" [alt]="chat.titleChat">
      <button class="chatTitle"
        type="button" data-bs-toggle="modal" data-bs-target="#chatModal"
      >{{ chat.titleChat }}</button> 
    </div>
  </nav>
  
  <!-- MESSAGGI -->
  <main>
    @if (messages){
      <div class="messages">
        
        <div [class]="isMyMessage(i)" *ngFor="let message of messages; let i=index"> 
          <div class="message">
            <header>
              <b>{{message.username}}</b> 
              <i>{{message.time}}</i>
            </header>
            <span>{{message.message}}</span>
          </div>
        </div>
  
      </div>
    }@else{ <h3 class="noMessages">Nessun Messaggio</h3> }    
  </main>
  <div #bottomElement></div>

  <!-- SCRIVERE MESSAGGIO -->
  <form #form="ngForm" (submit)="onAddMessage(form)">
    <div>

      <div class="input-group">
        <div class="form-floating">
          <input
            type="search" 
            class="form-control" 
            placeholder="" 
            name="message" id="message" 
            ngModel required
          ><label for="input">Messaggio</label>
        </div>
  
        <button class="btn btn-outline-light bi bi-arrow-bar-up" type="submit" [disabled]="form.invalid"></button>
      </div>

    </div>
  </form>
  
</article>