<article>
  <div>
    <nav>
      <a routerLink="/chat">
        <mat-icon style="color: var(--c5);">arrow_back</mat-icon>
      </a>
      <img [src]="chat.imageUrl" [alt]="chat.titleChat">
      <p class="titleChat">{{chat.titleChat}}</p> 
    </nav>

    <main class="box" *ngIf="messages!==undefined; else noMessages">
      <div [class]="isMyMessage(i) ?'right' :'left'" *ngFor="let message of messages; let i=index"> 
        <div class="message">
          <header><i>{{message.username}}</i> <i>{{message.time}}</i></header>
          <p>{{message.message}}</p>
        </div>
      </div>
    </main>
    <ng-template #noMessages> <div class="noMessages">
        <h2 style="text-align: center;"> Nessun Messaggio </h2>
    </div> </ng-template>
    

    <form #form="ngForm" (submit)="onAddMessage(form)">
      <div>
        <input
          type="text" 
          name="message"
          placeholder="Messaggio" 
          ngModel required
        >
        <button type="submit" [disabled]="form.invalid">
          <mat-icon class="newGroup">publish</mat-icon>
        </button>
      </div>
    </form>

  </div>
</article>