.messages{
  max-width: 500px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.messages>*{ display: flex; }
.left{ justify-content: flex-start; }
.left>div{ border-top-left-radius: 0 !important; }
.right{ justify-content: flex-end; }
.right>div{ border-top-right-radius: 0 !important; }

/* MESSAGGIO */
.message{
  max-width: 80%;
  padding: 5px 10px;
  display: grid;
  background: var(--c3);
  border-radius: 10px;
}
  .message header{ 
    display: flex; 
    justify-content: space-between;
    gap: 10px;
  }
/* CHAT SENZA MESSAGGI */
.noMessages{
  max-width: max-content;
  margin: 50% auto;
}