/* NAVIGAZIONE */
nav{
  height: 50px;
  margin: auto;
  padding: 0 10px;
  
  position: sticky;
  top: 0;
  z-index: 10;

  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  justify-items: start;
  gap: 10px;

  background: var(--c3);
}
  nav a{
    color: white;
  }
  nav img{
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }
  nav p.chatTitle{
    margin: 0;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }


/* SCRIVETE MESSAGGIO */
form{
  position: fixed;
  width: 100vw;
  bottom: 0;

  padding: 5px;
  background: var(--c1);
  display: grid;
  justify-content: center;
}
  form>div>*{
    background: var(--c3);
  }
