<app-nav-chat></app-nav-chat>
<article>
    <div>
        <h3>{{chat.titleChat}}</h3>

        <div class="flexbox">
            <div *ngFor="let message of messages; let i=index">
                <!-- <h6>{{message.username}}</h6> -->
                <p>{{message.message}}</p>
            </div>
        </div>

        <form #formData="ngForm" (submit)="writeMessage(formData)" class="inputBox">
            <div>
                <input 
                    type="text" 
                    name="message"
                    placeholder="Messaggio" 
                    ngModel required
                >
                <button type="submit" [disabled]="formData.invalid">
                    <mat-icon class="newGroup"
                        fontIcon="add"
                    ></mat-icon>
                </button>
            </div>
        </form>
    </div>
</article>
