article>div{
    width: clamp(300px, 100%, 1000px);
    margin: auto;
}

.box{
    padding: 10px;
    margin: 0 auto;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;

}
    .box>*{
        padding: 10px;
        background: var(--c3);
        border-radius: 10px;
        border-top-left-radius: 0;
    }
    .box p{
        max-width: 200px;
    }

.noMessages{
    padding: 10px;

    display: flex;
    flex-flow: column;
    align-items: center;
}
    .noMessages>*{
        padding: 10px;
        border-radius: 10px;
        color: var(--c3);
        border: 1px solid;
    }


@media only screen and (min-width:500px) {
article>div{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}
    .box, .noMessages{
        min-height: 60vh;
        justify-content: flex-start;
    }
}