article{
    padding-bottom: 50px;
}
    article>div{
        max-width: 1000px;
        margin: auto;

        box-shadow: 0 0 20px black;
    }

h3{
    padding: 10px 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space:initial;
    text-align: center;
    background: var(--c2);
}


.flexbox{
    min-width: 300px;
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;

    display: flex;
    flex-flow: column;
    gap: 10px;

}
    .flexbox>*{
        padding: 10px;
        background: var(--c3);
        border-radius: 10px;
        border-top-left-radius: 0;
    }


.inputBox{
    padding: 5px;
    position: fixed;
    bottom: 0;
    background: var(--c2);
}
    .inputBox>div{
        max-width: 300px;
        margin: auto;

        display: flex;
        gap: 5px;
    }


@media only screen and (min-width:500px) {
article>div{
    margin: 10px auto;
    overflow: hidden;
    border-radius: 20px;
}
.inputBox{
    padding: 10px;
    position: static;
}
}