.box{
    padding: 10px;
    display: flex;
    flex-flow: column;
}
.box>*{ display: flex; }
.left{ justify-content: flex-start; }
.left>div{ border-top-left-radius: 0 !important; }
.right{ justify-content: flex-end; }
.right>div{ border-top-right-radius: 0 !important; }

/* MESSAGGIO */
.message{
    max-width: 80%;
    padding: 5px 10px;

    display: grid;

    background: var(--c3);
    border-radius: 10px;
}
header{ 
    display: flex; 
    justify-content: space-between;
}
/* CHAT SENZA MESSAGGI */
.noMessages{
    padding: 10px;
    height: 60vh;

    display: grid;
    align-content: center;
}

/* computer */
@media only screen and (min-width:500px) {
article>div{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}
    .box, .noMessages{
        overflow-y: scroll;
    }
}