header{
  min-height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--c5);
  background: var(--c3);
  text-align: center;
}
  header>div{
    width: 300px;
  }
  header img{
    width: 200px;
  }
  
  header button.btn{
    border-radius: 20px !important;
  }  

  /*TODO BOX */
section{
  color: white;
}
  section>h3{
    text-align: center;
    padding: 30px 0;
  }
main{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.card{
  width: 300px;
}
  .card .card-img-top{
    object-fit: cover;
    height: 200px;
  }
button{
  margin: 5px;
}
footer{ min-height: 50vh; }