@import url(./oblioCard.component.css);
.form-floating{
  background: var(--c1) !important;
}
.row{
  padding: 0;
}
button.btn{
  padding: 5px;
  margin-right: 5px;
  display: inline-flex;
}



article>header{
  padding: 5px;
  box-shadow: 0 0 10px black;
}
  article>header>div{
    max-width: 700px;

    padding: 5px;
    display: grid;
    grid-template-columns: auto 1fr;

    border-radius: 5px;
  }
    /* pulsante per le info */
    [data-bs-target="#infoModal"]{
      position: fixed;
      top: 80px;
      right: 0;
      z-index: 3;
    }
    /* pills */
    article>header main{
      display: flex;
      overflow-x: scroll;
      align-items: center;
      gap: 5px;
    }
    article>header .badge{
      color: black;
      border: 0;
      max-width: 80px;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
@media screen and (max-width:570px) {
  article>header{
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(-3deg, var(--c3), var(--c2));
  }
}
/* in caso l'utente non avesse schede */
[noCards]{
  min-height: 80vh;
  max-width: 200px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;  
  text-align: center;
}
  [noCards] i{
    color: #00c900;
  }
footer{
  min-height: 100px;
}