@import url(../../../customFloatingLabel.css);
@import url(./styles/punteggiCaratteristica.css);
@import url(./styles/abilita.css);
@import url(./styles/equipaggiamento.css);

#OblioCardComponent{
  margin: 10px auto !important;
  max-width: 700px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
  #OblioCardComponent>div{
    min-width: 250px;
    padding: 5px;
    display: flex;
  }

  #head{
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
  }
    #head>div{
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      gap: 10px;
    }
      #head .input-group{
        max-width: 300px;
      }
        #maxHp>i{
          position: absolute;
          top: 30%;
          right: 10px;
          color: lightgray;
          pointer-events: none;
        }
  #left, #right{
    max-width: 300px;
    flex-flow: column;
  }

/* ABILITA ED EQUIPAGGIAMENTO */
.innerBorder{
  padding: 5px;
  margin-top: 20px;

  display: grid;
  gap: 10px;

  border: 2px solid;
  border-radius: 5px;
}
fieldset{
  padding: 5px;
  margin-top: 10px;
  border: revert;
  border-radius: 5px;
}
  legend{
    float: none;
    width: auto;
    margin: 0;
  }
    legend>button{
      color: white;
      display: flex;
      gap: 10px;
    }


