details[open]{ 
    background: var(--c2); 
    border-radius: 5px;
}

/* DROPDOWN */
summary{
    cursor: pointer;
    display: flex;
    color: var(--c5);
}
    summary>*{
        object-fit: cover;
        height: 40px;
        width:  40px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

/* CONTENT */
.dropContent{
    position: absolute; 

    display: flex;
    flex-flow: column;

    background: linear-gradient(3deg, var(--st), var(--c2));
}
    a, button{
        padding:10px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        background: transparent;
        border: 0;
        color: var(--c5);
    }
    button:hover, a:hover{
        background: var(--st);
    }

@media only screen and (max-width: 400px){
.dropContent{
    width: 100%;
    left: 0;
}
}