.searchBar{
    padding: 30px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: var(--c3);
}
    .searchBar>div{
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        background: var(--c5);
        color: var(--c1);
        border-radius: 5px;
    }
    .searchBar input{
        padding: 10px 20px;

        border: 0;
        outline: 0;
        border-radius: 5px;
        background: var(--c1);
        color: var(--c5);
    }
    .searchBar input::placeholder{color: var(--c5);}


    
.cardsContainer{
    margin: auto;
    padding: 30px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
    .example-card {
        padding: 10px;
        width: 300px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        background: linear-gradient(30deg, var(--c3), transparent);
        color: var(--c5);
    }
    .example-card button{
        padding: 10px;
    }

