    /* TODO FILTRO   */

header{
    padding: 50px;
    background: var(--c3);
}   
.filterCard{
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    margin: auto;

    border-radius: 10px;
    background: var(--c5);
    color: var(--c1);
}
.filterCard input{
    width: 100%;
    color: var(--c5);
}

    /* TODO SHOPS */
.shopsContainer{
    padding: 30px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
    .card {
        width: 300px;

        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 20px black;
        background: var(--c2);
        color: var(--c5);
    }
    .card aside{
        padding: 5px;
        margin: 10px;
        position: absolute; 
        background: var(--c4);
    }
    .card img{
        height: 150px;
        width: 300px;
        object-fit: cover;
    }
    .card .text{
        padding: 10px;
    }

