<article class="shops">
    <header>
        <div class="filterCard">
            <p style="padding: 10px; text-align: center;">Filtro</p>
            <input type="text" [(ngModel)]="filter">
        </div>
    </header>
    
    <div class="line"></div>
    
    <h1 style="text-align: center;">Ristoranti</h1>
    <section class="shopsContainer"> @for (shop of shops; track shop) {
        <div class="card" *ngIf="shop.denominazione.toLocaleLowerCase().includes(filter)">
            <aside>{{ shop.citta }}</aside>
            <img src="https://img.freepik.com/foto-premium/mcdonald-s-ha-ordinato-delizioso-e-fresco_148840-148408.jpg?w=1380" alt="">
            <div class="text">
                <h5>{{ shop.denominazione }}</h5>
                <p>{{ shop.indirizzo }}</p>
            </div>
        </div>
    }</section>
</article>