<div class="searchBar">
    <div>
        <h1>Ristoranti</h1>
        <p>Cerca i tuoi ristoranti preferiti</p>
        <input placeholder="Cerca" type="text" [(ngModel)]="filter" />
    </div>
</div>

<div class="line"></div>
  
<div class="cardsContainer">
@for (product of products; track $index) { 
    @if(product.denominazione.toLocaleLowerCase().includes(filter)) {
        <article class="example-card">
            <header>
              <h3>{{ product.denominazione }}</h3>
              <p>{{ product.citta }}</p>
            </header>
        
            <div class="description">
              <p>{{ product.indirizzo }}</p>
            </div>
        
            <button>LIKE</button>
            <button>SHARE</button>
            <button (click)="emitEvent()">Output</button>
        </article>} }
</div>
  