/* CUSTOM FLOATING LABELS */
/* input */
.form-floating >.form-control{
  min-height: 3rem;
  height: 3rem;
  padding: 10px;

  border-width: 2px;
  background: transparent;
  color: inherit;
}
  .form-floating >.form-control:focus{
    box-shadow: none;
  }

/* label */
.form-floating >label{
  height: min-content;
  max-width: 90%;
  padding: 0;
  margin-left: 10px;
  transform: translateY(40%);

  background: inherit;
  color: inherit;
  border-radius: 10px;
}
  .form-floating >label::after{
    background: transparent;
  }
  .form-floating >.form-control:focus ~label, 
  .form-floating >.form-control:not(:placeholder-shown) ~label{
    padding: 0 5px;
    margin: 0 5px;
    transform: scale(.85) translateY(-35%) translateX(.15rem);
  }