/* CUSTOM FLOATING LABELS */
/* stato iniziale */
.form-floating>.form-control{
  min-height: 2.5rem;
  height: 2.5rem;
  padding: 10px;
  border-width: 2px;
  background: transparent;
  color: inherit;
}
.form-floating>label{
  height: min-content;
  padding: 0;
  margin: 5px 10px;
  background: var(--c1) !important;
  color: inherit ;
}

/* interazione */
.form-floating>.form-control:focus{
  box-shadow: none;
}

.form-floating>label::after{
  background: transparent;
}
.form-floating>.form-control:focus~label, 
.form-floating>.form-control:not(:placeholder-shown)~label{
  padding: 0 5px;
  margin: 0 5px;
  transform: scale(.85) translateY(-35%) translateX(.15rem);
}