html, body{
    --c1:#303030;
    --c2:#0d47a1;
    --c3:#1976d2;
    --c4:#c00;
    --c5:#fff;
    --st:#00000050;

    margin: 0;
    min-height: 100vh;
    color: var(--c5);
    background: var(--c1) !important;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
app-root *{
    padding: 0px;
    margin: 0;
    transition: 0.3s;
    font-size: 20px;
    box-sizing: border-box;
}
header{
    background: var(--c3);
}
.line{
    height: 50px;
    position: relative;
    overflow: hidden;
}
    .line::after{
        width: 110%;
        height: 110%;
        position: absolute; 
        bottom: 50%;

        content: '';
        transform: rotate(359deg);
        background: var(--c3);
        box-shadow: 0px 0px 20px 5px #00000080;
    }



h1{
    font-size: 40px;

    text-align: center;
    background: linear-gradient(30deg, var(--c2), var(--c4));
    background-clip: text;
    color: transparent;
}
h2{font-size: 35px;}
h3{font-size: 30px;}
h4{font-size: 25px;}
h5{font-size: 20px;}
h6{font-size: 15px;}

button, input{
    padding: 10px;
    outline: 0;
    box-sizing: border-box;

    background: var(--c1);
    color: var(--c3);
    border-radius: 5px;
    border: 1px solid var(--st);
} 
button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
    button:hover, input:hover{
        background: var(--c2);
    }
    button:disabled{
        background: var(--st);
    }
    input::placeholder{ color: inherit; }


a{
    color: var(--c4);
    text-decoration: none;
} 
    a:hover{
        color: var(--c3);
    }

input[type="text"]{
    width: min(100%, 300px);
}

.slider{
    min-width: 300px;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    scroll-snap-type: x mandatory;
}
.slider>*{
    width: 250px;

    flex-shrink: 0;
    position: relative;
    scroll-snap-align: center;
}