html, body{
  --c1:#303030;
  --c2:#0d47a1;
  --c3:#1976d2;
  --c4:#c00;
  --c5:#fff;
  --st:#00000050;

  margin: 0;
  min-height: 100vh;
  background: var(--c1) !important;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
*{
  box-sizing: border-box;
  transition: 0.3s;
  outline: none;
  color: var(--c5);
}


/* INPUT */
label{ 
  font-style: italic; 
}
input.form-control, select.form-select{
  background: transparent;
  color: white;
}
input.form-control:focus{
  background: transparent;
  color: white;
}
*::placeholder{
  color: inherit !important;
}

/* PULSANTI */
a{
  text-underline-offset: 5px;
  font-style: italic; 
}

/* PSEUDO BOOTSTRAP */
.flex-1{
  flex: 1;
}
.flex-auto{
  flex: auto;
}
.bg-transparent{
  background: transparent;
}
.border{
  border-color: inherit !important;
}
.form-control::placeholder{
  color: #ffffff80 !important;
}