<app-navbar></app-navbar>
<article>
<div>
    <div class="cartList">
        <h1>Carrello</h1>
        <table>
        <tbody>
            <tr *ngFor="let product of cart; let i=index">
                <td class="title"> 
                    <img src="{{ product.imageUrl }}" alt="">
                    <p>{{ product.title }}</p>
                </td>
                <td class="content">
                    <p>Quantità: <strong>{{ product.amount }}</strong></p>
                    <p>Prezzo: <strong>{{ product.price *product.amount }}€</strong></p>
                    <button (click)="deleteFunction(i)">Rimuovi</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    <aside>
        <h3 style="text-align: center;">Strumenti</h3>
        <button>Ordina</button>
    </aside>
</div>
</article>
