<article>
  <app-navbar></app-navbar>
  <div class="container">
    <header>
      <h1>Utenti</h1>
  
      <!-- FILTRO -->
      <div id="filter">
        <div class="form-floating">
          <input type="email" class="form-control" 
            id="filter" placeholder=""
            [(ngModel)]="filter"

          ><label for="filter">
            <i class="bi bi-search"></i>
            Id, username o email
          </label>
        </div>      
      </div>
    </header>
    
    <!-- TABELLA -->
    <div class="table-responsive">
      <table class="table table-striped table-hover table-borderless align-middle table-dark ">

        <thead>
          <tr> 
            <th><button class="btn btn-success bi bi-person-fill-add" routerLink="/login"></button></th>
            <th *ngFor="let key of userKeys">{{ key | paragraph }}</th>
          </tr>
        </thead>

        <tbody> @for(user of users; track user; let i=$index){
          <tr *ngIf="show(i)">
            <td>
              <button class="btn btn-danger" (click)="onDelete(i)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
            <td *ngFor="let key of userKeys">
              @if (key==='imageUrl'){
                <img [src]="user[key]" [alt]="user.username">

              }@else if (key==='id'){
                <i>{{ user[key] }}</i>

              }@else if (key==='role'){
                <select class="form-select" (change)="onChange(i, key, $event)">
                  <option value="" selected style="display: none;">{{ rolesValues[user.role].title }}</option>
                  <option *ngFor="let opt of rolesValues" 
                    class="text-bg-dark"
                    [value]="opt.value">{{ opt.title }}</option>
                </select>

              }@else {
                <input 
                  class="form-control"
                  [value]="user[key]" 
                  [type]="it(user[key]!, key)"
                  (change)="onChange(i, key, $event)"
                >
              }
            </td>
          </tr>
        }</tbody>

      </table>
    </div>

  </div>
</article>
