@import url(../../../customFloatingLabel.css);
.container{
  padding: 20px 10px;
}

/* FILTRO */
header{
  display: flex;
  flex-flow: wrap;
  margin-bottom: 20px;
}
#filter{
  margin: auto;
  min-width: 250px;
  max-width: max-content;
}
.form-floating{
  background: var(--c1);
}
[for="filter"]{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: center;
}

/* TABELLA */
.table-responsive{
  max-width: 100vw;
}
table th{
  white-space: nowrap;
}
table input, table select{
  min-width: 150px;
  background: transparent !important;
}
table img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: 1px solid;
  border-radius: 10px;
}

button{
  padding: 5px;
  display: flex;
}
