
<div class="btn-group {{ localeUser ?'defined' :'undefined' }}" role="group" aria-label="group">
  @if (localeUser){
    <button class="btn btn-danger">
      <img src="{{localeUser?.imageUrl}}" alt="{{localeUser?.username}}">
      <!-- {{ localeUser.username }} -->
    </button>
    <button class="btn btn-danger" (click)="onResetLocalUser()">
      <mat-icon>logout</mat-icon>
    </button>

  }@else {
    <button class="btn btn-primary"  routerLink="/login">
      <mat-icon>login</mat-icon>
    </button> 
    <button class="btn btn-success" routerLink="/access">
      <mat-icon>person</mat-icon>
    </button> 
  }
</div>
