button{
  height: 40px;
  display: flex;
}


.btn-group.defined{
  margin-left: 10px;
}
.defined button:has(.mat-icon){
  padding-left: 20px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}
.defined button:has(img){
  height: 40px;
  padding: 0;
  position: relative;
}
.defined img{
  height: 40px;
  position: absolute;
  top: 0; 
  left: 0;
  z-index: 10;
  transform: translate(-60%);
  border: 1px solid red;
  border-radius: 50%;
}