
<div class="btn-group {{ localeUser ?'defined' :'undefined' }}" role="group" aria-label="group">
  @if (localeUser){
    <button class="btn btn-danger" routerLink="/user/{{localeUser.key}}">
      <img [src]="localeUser.imageUrl" [alt]="localeUser.username">
    </button>
    <button class="btn btn-danger" (click)="onResetLocalUser()">
      <mat-icon>logout</mat-icon>
    </button>

  }@else {
    <button class="btn btn-primary"  routerLink="/login">
      <mat-icon>person_add</mat-icon>
    </button> 
    <button class="btn btn-success" routerLink="/access">
      <mat-icon>login</mat-icon>
    </button> 
  }
</div>
