details[open]{ background: var(--c2); }

/* DROPDOWN */
summary{
    display: flex;
    cursor: pointer;
    color: var(--c5);
}
    summary>*{
        object-fit: cover;
        height: 40px;
        width: 40px;
        border-radius: 50px;
    }
    summary .mat-icon{ font-size: 40px; }


/* CONTENT */
.dropContent{
    width: 100%;
    left: 0;
    position: absolute; 

    display: flex;
    flex-flow: column;

    background: linear-gradient(3deg, var(--st), var(--c2));
}
    a, button{
        background: transparent;
        border-radius: 0;
        color: var(--c5);
    }
    button:hover, a:hover{
        background: var(--st);
    }

@media only screen and (min-width: 400px){
.dropContent{
    width: min-content;
    left: auto;
}
}