<header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="">
    <h1>Angular Materials</h1>
    <p>Material Design components for Angular</p>


    <a href="https://material.angular.io/components/categories"> 
        <button>Angular site</button> 
    </a>
</header>

<section>
    <div>
        <h1>Titolo</h1> 
        <p>Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.</p> 
        <p>APIs with consistent cross platform behaviour.</p> 
    </div>
    <div>
        <h1>Versatile</h1> 
        <p>Provide tools that help developers build their own custom components with common interaction patterns</p> 
        <p>Customizable within the bounds of the Material Design specification</p> 
    </div>
    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="text"/>
            <button matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <button (click)="onClick($event)">{{ text }}</button> 
    </div>

    
    <article>
        <h1>High quality</h1> 
        <p>Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.</p> 
        <p>APIs with consistent cross platform behaviour.</p> 
    </article>
    <article>
        <h1>Versatile</h1> 
        <p>Provide tools that help developers build their own custom components with common interaction patterns</p> 
        <p>Customizable within the bounds of the Material Design specification</p> 
    </article>
    <article>
        <h1>Frictionless</h1> 
        <p>Built by the Angular team to integrate seamlessly with Angular</p> 
        <p>Start from scratch or drop into your existing applications</p> 
    </article>
</section>