<app-navbar></app-navbar>

<article>
  <main class="container">

    <!-- LOGO -->
    <div class="container d-flex align-items-center p-2">
      <span class="badge rounded-pill" id="boostrap">Boostrap</span>
      <mat-icon>add</mat-icon>
      <span class="badge rounded-pill text-bg-danger">Angular</span>
    </div>
    
    <!-- INSERIMENTO -->
    <header class="container">
      <h1>{{ 'listaDelleCoseDaFare' | paragraph }}</h1>
      <form #formdata="ngForm" (ngSubmit)="onAdd(formdata)" class="d-flex align-items-center">
        <input class="form-control" 
          type="text" 
          name="title" 
          id="title" 
          placeholder="Inserisci azione"
          required ngModel
        >
        <button class="btn btn-secondary"  
          type="submit" 
          [disabled]="formdata.invalid"
        > <mat-icon>add</mat-icon> </button>
      </form>
    </header>
  
    <!-- TABELLA -->
    <div class="container table-responsive-sm">
      <table class="table align-middle table-dark">
        <tbody>
          <tr *ngFor="let item of listService.list(); let i =index">
            <td>
              <input class="form-check-input" 
                (change)="onPatch($event, i)" 
                type="checkbox" 
                id="complete" 
                [checked]="item.complete" 
                class="form-check-input"
              >
            </td>
            <td>
              <input class="form-control" 
                (change)="onPatch($event, i)" 
                type="text" 
                id="title" 
                [placeholder]="item.title" 
              >
            </td>
            <td>
              <button class="btn btn-danger" (click)="onDelete(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </main>
</article>