
<article>
  <app-navbar></app-navbar>
  
  <div class="container">
    <!-- INSERIMENTO -->
    <header class="container">
      <h3>{{ 'listaDelleCoseDaFare' | paragraph }}</h3>
      <form #formdata="ngForm" (ngSubmit)="onAdd(formdata)">
        <div class="form-floating">
          <input class="form-control" 
            type="text" 
            name="title" 
            id="title" 
            placeholder=""
            required ngModel
          >
          <label for="title">Inserisci azione</label>
        </div>
        <button 
          class="btn btn-secondary bi bi-plus-lg"  
          type="submit" 
          [disabled]="formdata.invalid"></button>
      </form>
    </header>
  
    <!-- TABELLA -->
    <div class="container table-responsive-sm">
      <table class="table align-middle table-dark table-borderless table-hover">
        <tbody>
          <tr *ngFor="let item of list; let i =index">
            <td>
              <input class="form-check-input" 
                (change)="onPatch($event, i)" 
                type="checkbox" 
                id="complete" 
                [checked]="item.complete" 
                class="form-check-input"
              >
            </td>
            <td>
              <input class="form-control" 
                (change)="onPatch($event, i)" 
                type="text" 
                id="title" 
                [placeholder]="item.title" 
              >
            </td>
            <td>
              <button class="btn btn-danger" (click)="onDelete(i)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</article>