header{
  padding: 10px;
  position: sticky;
  top: 0;
  background: var(--c2);
  box-shadow: 0 0 20px black;
}

article{ 
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(30deg, var(--c2), transparent);
}
main{
  padding: 20px 10px;
  display: grid;
}
main>div{ 
  display: flex; 
}
p{
  padding: 10px 0;
  text-align: center;
}

nav{
  padding: 10px;
  position: sticky;
  bottom: 0;
  background: var(--c2);
  box-shadow: 0 0 20px black;
}
form{ display: flex; }
[type="number"]{ width: 50px; }